<html>
    <head>
        <title> Django Girl's Blog </title>
    </head>
    <body>
        <div>
            <h1> <a href=""> Django Girl's Blog </a> </h1>
            <p> published: 01.09.2019, 11:21 </p>
        </div>

        {%for post in posts%}
        <div>
            <p> published: {{ post.published_date }} </p> 
            <h2> <a href=""> {{ post.title }} </a> </h2>
            <p> {{post.text | linebreaksbr}} </p>
            
            
        </div>
        {% endfor %}

        <div>
            
            <h2> <a href=""> My second post </a> </h2>
            <p> a dog dies in the corner of a hotel. Alexander the Great lived in a motel, but he could hardly get a beatle! </p>
            <p> published: 02.09.2019, 11:21 </p>
        </div>
        
    </body>
</html>
